# Laravel
backend/.env
backend/vendor/
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
vendor/

# Angular
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/*.log

# Drizzle
drizzle/node_modules/

# Root
node_modules/
.env
*.log
